@media only screen and (max-width: 700px) {
	.TechStack{width: 100% !important;}
}

.Contributions i{
	margin: 0vh 1vw 0vh 0vw !important;
	padding: 0 !important;
	color: #65379B;
}

.Contributions h6{
	margin: .5vh 2vw;
	padding: 0;
}

.TechStack {
	width: 60%;
}
.TechStack hr{
	width: 60%;
	border: 1px solid #65379B;
}
#small{
	width: 60%;
	border: 1px solid #65379B;
}
.Contributions hr{
	width: 50%;
	border: 1px solid #65379B;
}

.Project p{
	margin: 2vh 3vw;
}
.linkContainer{
	text-align: center;
	margin-bottom: 10px;
}
.linkContainer p {
	margin: 0;
}