@media only screen and (max-width: 700px) {
	.FeedbackInfo{ 
		justify-content: space-around !important;
		flex-wrap: wrap !important;
	}
}

.Feedback p {
    margin: 5vh 5vw;
}

.Feedback{
    text-align: center;
    width: 100%;
}

.FeedbackInfo{
    margin: 5vh 20vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Feedback .emailLink{
    cursor: pointer;
}

.Feedback .emailLink i:hover{
    transition: .5s ease-out;
    color: #6457C6;
}