@media only screen and (max-width: 700px) {

}
.Frame{
    width: inherit;
    background-image: linear-gradient(-225deg, #65379B 0%, #886AEA 40%, #6457C6 80%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imageFrame img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: inherit;
}

.Frame p{
    margin: 0px !important;
    color: white !important;
    text-align: center !important;
    line-height: 1.5 !important;
}

.imageFrame{
    position: relative;
    width: inherit;
}

.fullscreen{
    cursor: zoom-in !important;
    position: absolute;
    right:5px;
    bottom:20px;
    margin: 0px !important;
    color: #65379B;
    text-shadow: 0 0 5px #FFF;
}