@media only screen and (max-width: 700px) {
    #discription{ 
        width: 96% !important;
    }
    .fullscreen{width: min-content !important; margin-left: auto;}
}

.imageInstance{
    position: relative;
    width: inherit;
}

.imageInstance #btnL, .imageInstance #btnR{
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 !important;
    color: #65379B;
    text-shadow: 0 0 5px #FFF;
}  
.imageInstance #btnL{ left: 5px; }
.imageInstance #btnR{ right: 5px; }
.imageInstance .NA{
    opacity: 0;
    z-index: -5555;
    cursor: none;
}

.fullscreen{
    cursor: zoom-in !important;
    position: absolute;
    right:5px;
    bottom:5vh;
    margin: 0px !important;
    color: #65379B;
    text-shadow: 0 0 5px #FFF;
}

#discription {
    margin: 5vh 5vw;
}