.minecraft .content{
    display: flex;
    justify-content: space-between;
}

.minecraft .status{
    display: flex;
    justify-content: space-evenly;
    margin: 5vh 0vw 0vh 5vw;
    width: 65vw;
}

.minecraft .Row #left,.minecraft .Row #right, .minecraft .Row #center{
    font-size: calc(.9vw + 7.5px);
    margin: 0vh 2vw;
    text-align: center;
}

.minecraft .mineImg{
    width: 35vw;
}

@media only screen and (max-width: 700px) {
    .minecraft .mineImg{
        width: 70vw !important;
        transform: translateX(20%);
    }

    .minecraft .Row #left,.minecraft .Row #right, .minecraft .Row #center{
        font-size: calc(1vw + 10px) !important;
        margin: 5vh 5vw;
    }
}