@media only screen and (max-width: 700px) {
    .up{ top:var(--main-nav-height) !important; transition: ease .5s !important; width: 100% !important;}
    
    .down {top:var(--main-nav-height) !important; width: 100% !important;}
    
    .Slider{width:100%!important; transition: ease .5s !important;}

    #home, #resume, #travel{
        width: 0% !important;
        opacity: 0;
        padding: 0;
        margin: 0;
        z-index: -99 !important;
        cursor: default !important;
    }
}

.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--main-nav-height); 
    background-image: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
    transform: translateY(-40px);
    top: 40px;
    position: fixed;
    z-index: 900;
} .Navbar img {
    margin: 1vh 2vw;
    cursor: pointer;
    height: auto;
} .Navbar a{
    font-size: calc(.9vw + 7.5px);
    font-weight: bold;
    color: white;
    text-decoration: none;
    line-height: var(--main-nav-height);
    height: var(--main-nav-height);
    padding: 0vh 1.5vw 0vh 1.5vw;
    cursor: pointer;
    list-style: none;
    text-decoration: none !important;
} .Navbar a:hover{
    color: white;
    background: rgba(35, 35, 35, .4);
    /* border-bottom-color: #DDC5F9;
    border-bottom-width: 6px;
    border-bottom-style: groove; */
    transition: color .5s;
    -webkit-transition: color .5s;
} .Navbar a:last-child{
    margin-left: auto;
}

.active {
    color: white;
    background: rgba(25, 25, 25, .5);
    /* border-bottom-color: #DDC5F9;
    border-bottom-width: 6px;
    border-bottom-style: groove; */
}

.active:hover{
    color: #ccc;
    transition: color .5s;
    -webkit-transition: color .5s;
}

.Slider{
    display: flex;
    align-items: center;
    flex-direction: row;
    color: white;
    height: var(--sub-nav-height);
    background-image: linear-gradient(to right, #434343 0%, black 75%);
    opacity: .85;
}

.Slider a{
    height: var(--sub-nav-height);
    padding: 0vh 2vw 0vh 2vw;
    cursor: pointer;
    font-size: calc(.8vw + 7.5px);
    font-weight: bold;
    line-height: var(--sub-nav-height);
    color: white;
    text-decoration: none !important;
    list-style: none;
}

.Slider a:hover{
    color: white;
    background: rgba(136, 106, 234, .4);
    /* border-bottom-color: #DDC5F9;
    border-bottom-width: 6px;
    border-bottom-style: groove; */
    transition: color .5s;
    -webkit-transition: color .5s;
}

.Slider a:last-child{
    margin-left: auto;
}

.Slider a:first-child{
    margin-left: 5%;
}

.up{
    top: calc( -1 * var(--sub-nav-height));
    position: fixed;
    z-index: 850;
    transition: ease .5s;
    width: 75%;
}

.down {
    top: var(--main-nav-height);
    position: fixed;
    z-index: 850;
    transition: ease .5s;
    width: 75%;
}
.Navbar i{
    margin-left: 10px;
    color: #fff;
}