.Contributions{
	width: 100%;
}
.Contributions h6{
	margin: .5vh 2vw;
	padding: 0;
}

.TechStack{
	width: 100%;
}

.TechStack hr{
	width: 60%;
	border: 1px solid #65379B;
}
.TechStackList{
	display: flex;
	justify-content: space-evenly;
}
#small{
	width: 60%;
	border: 1px solid #65379B;
}
.Contributions hr{
	width: 50%;
	border: 1px solid #65379B;
}

.Project p{
	margin: 2vh 3vw;
}

.linkContainer{
	text-align: center;
	margin-bottom: 10px;
}

.linkContainer p {
	margin: 0;
}

.noContributions{
	display: none;
}