@media only screen and (max-width: 700px) {
	.Row{ 
		justify-content: space-around !important;
		flex-wrap: wrap !important;
	}
	.Row div{
		width: 85vw !important;
	}
	p, a{	font-size: calc(1vw + 10px) !important; text-align: center;}

	h1{ font-size: calc(1vw + 28px)!important;}
	h2{ font-size: calc(1vw + 25px)!important;}
	h3{ font-size: calc(1vw + 22px)!important;}
	h4{	font-size: calc(1vw + 17px)!important;}
	h5{	font-size: calc(1vw + 12px)!important;}
	h6{	font-size: calc(1vw + 7px)!important;}

	.Img1x1_Large{ width: 85vw !important;}
	.Img16x9 { width: 85vw !important;}
	.Img1x1_Small {	width: 85vw !important;}
	.Img4x3{ width: 85vw !important;}
	.App {margin-top: 150px !important;}
}
.App {
	margin-top: 105px;
}

html {
	background-color: #fff;
}

.Row{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.rowImages img{
	width: 7%;
	height: 7%;
	margin: 1vw;
}
.rowImages{
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 5vh;
}

h1, h2, h3, h4, h5, h6{
	text-align: center;
	margin-bottom: 1vh;
}

h1{ font-size: calc(.75vw + 26px);}
h2{ font-size: calc(.75vw + 23px);}
h3{ font-size: calc(.75vw + 20px);}
h4{	font-size: calc(.75vw + 15px);}
h5{	font-size: calc(.75vw + 10px);}
h6{	font-size: calc(.75vw + 5px);}


a{
	color: #98700D;
	text-decoration: none;
	cursor: pointer;
	font-size: inherit;
}

a:hover{
	color: #C28E0E;
	text-decoration: underline;
}

hr{
	width: 70%;
	border: 2px solid #65379B;
	background-color: #65379B; 
}

.Img1x1_Large{ width: 35vw;}
.Img16x9 { width: 45vw;}
.Img1x1_Small {	width: 25vw;}
.Img4x3{ width: 35vw;}

i{
	color: #65379B;
}

.Clickable{
    cursor: pointer;
	width: inherit;
}

.notClickable{
    cursor: default;
    width: inherit;
}