.Frame{
    max-width: 200px;
    max-height: 200px;
    height: auto;
    background-image: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
}
.Frame img{
    max-width: 100%;
    max-height: 100%;
}