.Header {
    display: flex;
    flex-direction: row;
    color: white;
    width: 100%;
    height: 7vh;
    min-height: 45px;
    background-image: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
}

.Header img {
    margin: 1vh 1.5vw 0vh 1vw;
    cursor: pointer;
    height: auto;
    max-height: 45px;
    min-width: 215px;
    max-width: 20vw;
}

.Header div{
    height: 6vh;
    min-height: 43px;
    padding: 0vh 1vw 0vh 1vw;
    cursor: pointer;
}

.Header div p {
    font-size: calc(.9vw + 11.5px);
    font-weight: bold;
    line-height: 0px;
}

.Header div:hover{
    color: white;
    background: rgba(35, 35, 35, .4);
    border-bottom-color: #DDC5F9;
    border-bottom-width: 6px;
    border-bottom-style: groove;
    transition: color .5s;
    -webkit-transition: color .5s;
}

.Header div:last-child{
    margin-left: auto;
}

.active {
    color: white;
    background: rgba(25, 25, 25, .5);
    border-bottom-color: #DDC5F9;
    border-bottom-width: 6px;
    border-bottom-style: groove;
}

.active:hover{
    color: #ccc;
    transition: color .5s;
    -webkit-transition: color .5s;
}